body {

  background-color: #dfa066; /* dark gray */
  color: #eee;
  font-family: 'Roboto', sans-serif;
  padding: 2rem;
}

h1 {
  color: #00ffff;
  
}

p {
  font-size: 18px;
  line-height: 1.6;
}

.highlight {
  color: #ff8800;
  font-weight: bold;
}
